// Place all the styles related to the Ccconfigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hack
{

background: -moz-linear-gradient(#50B7D1, #286DA3) repeat scroll 0 0 transparent;
    border: 1px solid #51A0B3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 15px 30px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);

}
