<%= form_for([@zombie, @zombie.postinfos.build]) do |f| %>


  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_field :data %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
